#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_MonsterChaind += debian/examples/*
DEB_INSTALL_MANPAGES_MonsterChaind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix MonsterChaind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f MonsterChain-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake MonsterChain-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/MonsterChaind:
	chmod +x $(cdbs_curdestdir)usr/bin/MonsterChaind
binary-post-install/MonsterChain-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/MonsterChain-qt
